.cardContainer{
  width: 50%;
}

.cardTitle{
  display: inline-block;
  width: 50%;
  padding: 0px;
}

.cardHeader{
  display: inline-block;
  width: 50%;
}

.title{
  font-size: 18px;
}

.subtitle{
  font-size: 10px;

}

.test{
  padding: 0px;
}